* {
  list-style: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: #dd1f28 !important;
}

.nav-style {
  display: flex;
  justify-content: space-around;
}

.nav-logo {
  display: flex;
}

.nav-contact {
  display: flex;
}

.contact-number {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: monospace;
  border-bottom: #dd1f28 solid 3px;
  margin: 20px 0 30px 0;
}

.FM-style {
  display: flex;
  align-self: center;
  font-size: larger;
  font-weight: bolder;
  color: #dd1f28 !important;
}
#Cards-border {
  border: #9b9b9d solid 2px;
}

.card-title {
  display: flex;
  justify-content: center;
}

.card-subtitle {
  color: #dd1f28 !important;
  font-size: 1.25rem;
}

.list-group {
  border-top: none !important;
}

.list-group-item {
  color: #dd1f28 !important;
  font-size: 1rem;
}

.btn-primary {
  background-color: #58585a !important;
  border: none !important;
}

.btn-success {
  background-color: #c59a6f !important;
  border: none !important;
}

.dropdown-item {
  color: #9b9b9d !important;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
}
