.maintenance {
   font-family: sans-serif;
 
   font-weight: bolder;
   color: #9b9b9d;
}

.building-name {
    color: #dd1f28;
}

.card-background {
    border-color: #9b9b9d;
   
}

.nav-buttons {
    color: #dd1f28;
}

